* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.lato-thin {
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  font-style: normal;
}

.lato-light {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-style: normal;
}

.lato-regular {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato-bold {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-style: normal;
}

.lato-black {
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  font-style: normal;
}

.lato-thin-italic {
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  font-style: italic;
}

.lato-light-italic {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-style: italic;
}

.lato-regular-italic {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-style: italic;
}

.lato-bold-italic {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-style: italic;
}

.lato-black-italic {
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  font-style: italic;
}

/* Start */
.banner {
  background-color: rgba(229, 84, 115, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.05%;
}
.banner-text {
  width: 708px;
}
.banner-text h1 {
  font-size: 80px;
  font-weight: extra-bold;
  margin-bottom: 32px;
}
.banner-text p {
  font-size: 18px;
  line-height: 30px;
  color: #272727;
  margin-bottom: 32px;
}

button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  background-color: #e55473;
  padding: 20px 45px;
  border-radius: 8px;
  border: none;
}
.banner-pic img {
  width: 100%;
  margin-top: 50px;
}
/* shared */
.feature,
.service, 
.deal {
  width: 75%;
  max-width: 1440px;
  margin: 0 auto;
}
p {
  color: rgba(39, 39, 39, 0.8);
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 32px;
}
.feature {
  margin-bottom: 128px;
}
.feature-title {
  width: 594px;
  margin: 178px auto 48px auto;
  text-align: center;
}
.feature-title h2 {
  font-size: 40px;
  font-weight: extra-bold;
  margin-bottom: 24px;
}
.feature-title p {
  font-size: 18px;
  line-height: 30px;
}
.feature-body {
  display: grid;
   grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  justify-content: center;
  align-items: center;
  margin-bottom: 32px;
}
.first-card,
.second-card,
.third-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.feature-body a {
  text-align: center;
  text-decoration: none;
  color: #272727;
  font-size: 24px;
  font-weight: bold;
}
.feature-card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 350px;
  height: 520px;
  border-radius: 300px 300px 0 0;
}
.feature-body .purple {
  background-color: rgba(167, 33, 98, 0.15);
}
.feature-body .blue {
  background-color: rgba(5, 151, 160, 0.15);
}
.feature-body .gray {
  background-color: rgba(71, 125, 17, 0.15);
}
.feature-card img.first-image {
  margin-bottom: -94px;
}
.feature-card img.second-image {
  margin-bottom: -100px;
}
.feature-card img.third-image {
  margin-bottom: -50px;
}

.feature-footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 128px;
}
.feature-footer a {
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
  color: black;
}

.service {
  display: flex;
  background-color: rgba(39, 39, 39, 0.05);
  padding: 85px 175px;
  border-radius: 8px;
  gap: 100px;
  justify-content: center;
  align-items: center;
  margin-bottom: 128px;
}
.service .first,
.second,
.third {
  text-align: center;
}
.hot-deal {
  display: flex;
  gap: 186px;
  justify-content: center;
  align-items: center;
  background-color: rgba(229, 84, 115, 0.05);
  padding: 100px 0;
}
.hot-deal .text {
  width: 595px;
}
.hot-deal .text h2 {
  font-size: 40px;
  font-weight: extra-bold;
  margin-bottom: 24px;
}
.hot-deal .text h2 span {
  color: #e55473;
}
.instagram {
  margin-bottom: 128px;
  width: 90%;
  margin: 48px auto 128px;
}
.instagram-title {
  text-align: center;
  max-width: 594px;
  margin: 128px auto 48px;
}
.instagram-title h2 {
  font-size: 40px;
  font-weight: extra-bold;
  margin-bottom: 24px;
}
.instagram-pic {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
  justify-content: center;
  align-items: center;
}
.instagram-pic img{
  width: 100%;
}
.deal {
  background-image: url('./Flower Asset/Rectangle 9.png');
  padding: 122px 287px;
  margin-bottom: 128px;
}
.deal h2 {
  text-align: center;
  font-size: 40px;
  font-weight: extra-bold;
  margin-bottom: 16px;
}
.deal p {
  text-align: center;
  margin-bottom: 48px;
}
.deal .form {
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;
  /* width: 866px; */
}
.deal .form input {
  width: 600px;
  font-size: 16px;
  padding: 22px 513px 22px 22px;
  border: none;
  border-radius: 8px;
}
footer {
  background-color: rgba(17, 16, 16, 1);
  text-align: center;
  margin-bottom: 0;
}
footer h2 {
  color: white;
  font-size: 48px;
  font-weight: extra-bold;
  padding-top: 128px;
  margin-bottom: 24px;
}
footer h2 span {
  color: #e55473;
}
footer .copyright {
  color: rgba(255, 255, 255, 0.4);
  padding-bottom: 128px;
  margin-top: 32px;
}
footer p {
  color: white;
  margin-bottom: 0;
}
.hide {
  display: none !important;
}

@media screen and (max-width: 567px) {
  .banner {
    flex-direction: column;
    text-align: center;
    /* width: 100%; */
  }

  .banner-text {
    width: 100%;
  }
  .banner-text p {
    padding: 0 16px;
  }
  .banner-text h1 {
    font-size: 40px;
    font-weight: extra-bold;
    margin-bottom: 32px;
    margin-top: 40px;
  }
  .feature-title {
    width: auto;
    margin: auto;
    text-align: center;
  }
  .feature {
    margin-top: 50px;
  }
  .feature-body {
    display: grid;
    grid-template-columns: repeat(1 1fr);
  }
  .service {
    flex-direction: column;
    margin-bottom: 50px;
  }
  .hot-deal {
    flex-direction: column;
    text-align: center;
  }
  .instagram-pic {
    flex-direction: column;
  }
  .deal {
    background-image: url('./Flower Asset/Rectangle 9.png');
    padding: 20px;
  }
  .deal .form {
    flex-direction: column;
    gap: 16px;
    justify-content: center;
  }
  .deal .form input {
    width: auto;
    font-size: 16px;
    padding: 22px;
    border: none;
    border-radius: 8px;
  }
  footer h2 {
    padding-top: 50px;
    margin-bottom: 24px;
  }
  footer .copyright {
    padding-bottom: 50px;
  }
  .hot-deal .text {
    width: auto;
  }
}

@media screen and (min-width: 567px) and (max-width: 992px) {
  .banner-text h1 {
    font-size: 40px;
    font-weight: extra-bold;
    margin-bottom: 24px;
  }
  .banner {
    padding: 20px 20px;
  }
  .feature-title {
    width: auto;
    margin: 50px auto 50px auto;
    text-align: center;
  }

  .feature-body {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .feature-body .third-card {
    grid-column: span 1;
  }
  .hot-deal {
    gap: 10px;
  }
  .instagram-pic {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .third-card{
    justify-content: center;
    width: 100%;
  }
  .deal {
    padding: 50px 20px;
  }
  .deal .form input {
    padding: 22px 50px 22px 22px;
  }
.hot-deal {
   
    gap: 100px;
    padding-left:50px ;
}
  .instagram {
    margin-bottom: 50px;
}
}
